<!DOCTYPE html>
<html ng-app="productList">
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<title>Product List</title>
    	<link href="/lib/bootstrap/dist/css/bootstrap.css"  rel="stylesheet" media="screen">
    	<link href="/lib/bootstrap/dist/css/bootstrap-theme.css"  rel="stylesheet" media="screen">
    	<link href="/style.css"  rel="stylesheet" media="screen">
    	<script src="/lib/jquery/dist/jquery.js"></script>
    	<script src="/lib/jquery-ui/jquery-ui.js"></script>
    	<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    	<script src="/lib/angular/angular.js"></script>
    	<script src="/lib/lodash/lodash.js"></script>
    	<script src="/lib/zInfiniteScroll/zInfiniteScroll.js"></script>
    	<script src="/product.client.controller.js"></script>
    </head>
    <body ng-controller="ProductListController as productListController">
    	<div class="row header-row">
    		 <div class="col-xs-12 col-lg-12 col-md-12 full-height">
			 	<div class="col-xs-6 col-lg-6 col-md-6 full-height vertical-centered">
			 		<span class="text-center">Product</span>
			 	</div>
			 	<div class="col-xs-3 col-lg-3 col-md-3 full-height vertical-centered">
			 		<span class="text-center">Price</span>
			 	</div>
			 	<div class="col-xs-3  col-lg-3 col-md-3 full-height vertical-centered">
			 		<span class="text-center">Quantity</span>
			 	</div>
			 </div>
    	</div>
    	<div ng-class="{'limit' : productController.products.length !== 0}"
				 z-infinite-scroll="loadMore" inverse="false" class="scroll-body">
    			<div class="row row-height" ng-repeat="product in productListController.products">
    				<div class="col-xs-12 col-lg-12 col-md-12">
					 	<div class="col-xs-6 col-lg-6 col-md-6">
					 		<span class="text-center">{{product.name}}</span>
					 	</div>
					 	<div class="col-xs-3 col-lg-3 col-md-3">
					 		<span class="text-center">{{product.price}}</span>
					 	</div>
					 	<div class="col-xs-3 col-lg-3 col-md-3">
					 		<span class="text-center">{{product.quantity}}</span>
					 	</div>
				 	</div>
				</div>
    	</div>
    </body>
</html>