body{
	overflow-y: hidden; 
}

.header-row{
	margin-top: 1vh;
	background-color: #1a3342;
	color: #ffffff;
	height: 10vh;
	vertical-align: middle; 
}

.row-height {
	height: 10vh;
}

.scroll-body {
	background-color: #f8f8f9;
	overflow-y: auto;
	height: 80vh;
	width: 100vw;
}

.full-height{
	height: 100%;
}

.vertical-centered{
	display: flex;
    align-items: center;
}